// 主题颜色
$red: #f66;
$purple: #66f;
$orange: #f90;
$blue: #09f;
$green: #3c9;
$cyan: #9c3;

// 控件颜色
$box-shadow: 1px 1px 5px rgba(#000, .5);
$text-shadow: 3px 3px 5px rgba(#000, .5);
$drop-shadow: drop-shadow(5px 5px 10px rgba(#000, .5));